# Dependencies
node_modules/
package-lock.json

# Environment test files
.env.local

# Virtual environments when testing or developing locally
.venv/
ve


# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/settings.json
.idea/