# Dependencies
node_modules/
package-lock.json

# Environment!
.env
.env.local

# Virtual environments when testing or developing locally
.venv/
ve

# Database files (dev only)
*.sqlite
*.sqlite3
*.db


# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/settings.json
.idea/